/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

html,body {
    height: 100%;
    font-family: 'Bitter', serif;
}

#start {
    background: url('../images/condition/clear_sky_d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 16px black;
}
#start-content {
    padding: 16px;
    margin: 16px;
}


hr {
    background-color: wheat;
    border-style: solid none;
    border-width: 1px;
    align-content: flex-start;
    max-width: 100px;
    margin: 0px;
}

#end {
    width: 100%;
    padding: 0;
}

#end-content {
    padding: 16px;
    margin: 16px;
}

#map {
    height: 300px;
    width: 100%;
}

img {
    width: 100px;
}
p {
    margin-top: 16px;
}